data/
**/*.pyc
__pycache__/
*.egg-info/
ignore_me
*.ipynb
**/*.ipynb
.env
.env.yaml
.env.docker-override.yaml
llm_providers/examples/yaml_run/env.yaml
llm_params*.json
llm_config.yaml
data_labeling
.vscode
*.err
*.out
vllm-serve.sh
.idea/
**/*.egg-info/
*.egg
.eggs/
uv.lock